/*************************************************
    GENERAL STYLES
 *************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  /* background-color: brown; */
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
  /* width: 100%; */                        /* 312px; */
  max-width: 1140px;
  margin: 0 auto;                           /* 0 20px; */
  padding: 0 20px;
}

.row {
  /* display: flex; */
  /* background-color: brown; */                /* DEBUG */
}

.col {
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

img {
  width: 100%;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

/* TEXT */
.text-center {
  text-align: center;
}

/* DEBUG */
.debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
}

.debug div,
.debug nav{
  border: 1px solid black;
}

/* BTN */
.btn ul{
  display: flex;
  list-style: none;
}

.btn li{
}

.btn a{
  border-radius: 20px;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  opacity: 80%;
}

/************************************************
    MOBILE SECTIONS
 ************************************************/

/* HEADER */
header {
  padding-top: 76px;
}

header .top-bar {
  height: 76px;
  background-color: #0084fd;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  width: 100%;
  /* background-color: red; */              /* DEBUG */
}

.top-bar .container .menu {
  cursor: pointer;
}

.top-bar .container .menu i{
  font-size: 21px;
  color: white;
}

.top-bar .container .menu-list {
  display: none;
}

.top-bar .container .menu-list ul{
  display: flex;
  list-style: none;
}

.top-bar .container .menu-list li{
}

.top-bar .container .menu-list a{
  padding: 12px 17px;
  text-decoration: none;
  color: white;
}

#btn-white{
  color: black;
  background-color: white;
  border-radius: 20px;
}

#btn-white:hover {
  opacity: 80%;
}

/* DEMO SECTION */
.demo {
  background-color: white;
}

.demo .container {
  padding: 50px 32px 80px;
  background-color: white;
}

.demo .row {
  /* padding: 12px; */
}

.demo .row .big-col {
  height: 606px;
  border-radius: 20px;
  padding: 40px 33px 0;
  margin-bottom: 24px;
  background-color: #b5ddff;
  position: relative;
}

.demo .row .big-col h3,
.demo .row .col h3{
  margin-bottom: 40px;
  color: #0084fd;
}

.demo .row .big-col p,
.demo .row .col p {
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 40px;
  color: #5a6e7f;
}

.demo .row .big-col .btn ul {
 
}

.demo .row .big-col .btn li {
}

.demo .row .big-col .btn a {
  background-color: #0084fd;
}

.demo .row .big-col .box-image {
  display: flex;
  width: 200px;
  height: 270px;
  position: absolute;
  bottom: 0;
}

.demo .row .col {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 359px;
  border-radius: 20px;
  padding: 40px 20px 0;
  margin-bottom: 24px;
  background-color: #b5ddff;
}

.demo .row .col i {
  font-size: 80px;
  margin-bottom: 40px;
  color: #0084fd;
}

.demo .row .col:last-child {
  margin-bottom: 0;
}

/* PLANNING SECTION */
.planning {
  background-color: #9792e4;
}

.planning .container {
  padding: 68px 32px 64px;
  background-color: #9792e4;
}

.planning .row {
  
}

.planning .row .col-no-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  height: 620px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  margin-bottom: 35px;
  color: white;
}

.planning .row .col-no-frame h2{
  padding-top: 25%;
  padding-bottom: 50px;
  font-size: 1.6rem;
}

.planning .row .col-no-frame p{
  /* padding-right: 20px; */
  line-height: 30px;
}

.planning .row .col {
  height: 614px;
  border-radius: 50px;
  background-color: white;
}

.planning .row .col .box-image{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  line-height: 30px;
}

.planning .row .col .box-image p {
  font-style: italic;
  padding: 0 20px;
}

.planning .row .box-image img{
  
}

.btn-circle {
  margin: 16px 0;
}

.btn-circle a{
  padding: 16.5px 19px;
  border-radius: 50%;
  color: black;
  background-color: #9792e4;
}

/* TESTIMONIAL SECTION */
.testimonials {
  background-color: white;
}

.testimonials .container {
  padding: 68px 32px 112px;
  background-color: white;
}

.testimonials .row {
  
}

.testimonials .row .col-no-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 389px;
  padding: 30px 0;
  /* background-color: rgb(151, 146, 228, 0.2); */
  margin-bottom: 32px;
  text-align: center;
}

.testimonials .row .col-no-frame .title {
}

.testimonials .row .col-no-frame .sub-title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #9792e4;
}

.testimonials .row .col-no-frame p {
  font-size: 1.25rem;
  line-height: 30px;
}

.testimonials .row .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  border-radius: 50px;
  margin-bottom: 32px;
  background-color: #9792e4;
  color: white;
}

.testimonials .row .col:last-child {
  margin-bottom: 0;
}

.img-frame{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(/assets/img/testimonial1.jpg);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.img-frame.bis{
    background-image: url(/assets/img/testimonial2.jpg);
}

.img-frame.tris{
    background-image: url(/assets/img/testimonial3.jpg);
}


.box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-text p {
  padding: 0 25px;
  line-height: 30px;
}

.box-text span {
  font-size: 2rem;
}

.box-text .name {
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
}

/* BENEFITS SECTION */
.benefits {
  background-color: #9792e4;
}

.benefits .container{
  padding: 222px 32px 64px;
  background-color: #9792e4;
}

.benefits .row{

}

.benefits .row .col{
  height: 398px;
  border-radius: 50px;
  margin-bottom: 32px;
  background-color: white;
}

.benefits .row .col:last-child {
  margin-bottom: 0;
}

/* ABOUT-US SECTION */
.about-us {
  background-color: white;
}

.about-us .container {
  padding: 94px 32px 80px;
  background-color: white;
}

.about-us .row {

}

.about-us .row .big-col {
  height: 950px;
  margin-bottom: 57px;
  background-color: rgb(151, 146, 228, 0.2);
}

.about-us .row .col {
  height: 415px;
  background-color: rgb(151, 146, 228, 0.2);
}

/* GET-STARTED SECTION */
.get-started {
  background-color: #9792e4;
}

.get-started .container {
  padding: 68px 32px 64px;
  background-color: #9792e4;
}

.get-started .row {
  display: flex;
  justify-content: center;
}

.get-started .row .col {
  width: 100%;
  height: 484px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* FOOTER */
footer {
  background-color: #333333;
}

footer .container {
  padding: 44px 32px 40px;
  background-color: #333333;
}

footer .container .row {

}

footer .container .row .top {
  height: 50px;
  margin-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.2);
}

footer .container .row .bottom {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

/* MOBILE FIRST */
/* Con Mobile first il default è pensato al mobile  */
body{
  background-color: rgb(147, 6, 6)          /* DEBUG */    
}

/************************************************
    TABLET SECTIONS
 ************************************************/
@media screen and (min-width: 768px){
  body{
    background-color: rgb(27, 147, 57)      /* DEBUG */
  }
  
  /* DEMO */
  .demo {
    height: 1180px;
  }

  .demo .container {
    padding-bottom: 104px;
  }
  
  .demo .row {
    height: 1026px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .demo .row .big-col {
    width: 65.6%;
    height: 55%;
    margin-bottom: 0;
  }
  
  .demo .row .col {
    width: 31.3%;
    height: 42.6%;
    margin-bottom: 0;
  }

  .demo .row .col:nth-child(2) {
    height: 55%;
  }

  /* PLANNING */
  .planning {

  }
  
  .planning .container {
    padding-top: 140px;
  }
  
  .planning .row {
    /* height: 1896px; */
  }
  
  .planning .row .col-no-frame {
    height: 987px;
  }
  
  .planning .row .col {
    height: 874px;
  }

  /* TESTIMONIALS */
  .testimonials {

  }

  .testimonials .container {
    height: 1332px;

  }

  .testimonials .row {

  }

  .testimonials .row .col-no-frame {
    height: 220px;
  }

  .testimonials .row .col {
    height: 280px;
    padding-left: 25px;
  }

  .testimonials .row .col{
    display: flex;
    flex-direction: row;
  }
  
  .box-text {
    align-items: flex-start;
  }
  
  .box-text .name{
    padding-left: 25px;
    text-align: start;
  }

  /* BENEFITS */
  .benefits {

  }

  .benefits .container {
    height: 1564px;
    padding-top: 185px;

  }

  .benefits .row {
    height: 1315px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .benefits .row .col {
    width: 48.3%;
    height: 32%;
    margin-bottom: 0;
  }
  
  /* ABOUT-US */
  .about-us {

  }
  
  .about-us .container {
    height: 1070px;
    padding-bottom: 150px;
  }
  
  .about-us .row {
    height: 826px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .about-us .row .big-col {
    width: 59.7%;
    height: 826px;
    margin-bottom: 0;
  }
  
  .about-us .row .col {
    width: 40.3%;
    height: 826px;
    background-color: rgb(151, 146, 228, 0.1);
  }

  /* GET-STARTED SECTION */
  .get-started {

  }

  .get-started .container {
    height: 625px;
  }
  
  .get-started .row {
    
  }
  
  .get-started .row .col {
    max-width: 570px;
  }

  /* FOOTER */
  footer {

  }

  footer .container {
    height: 224px;
  }
  footer .container .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  footer .container .row .top {
    width: 100%;
    max-width: 420px;
    height: 40px;
    margin-bottom: 60px;
  }
  
  footer .container .row .bottom {
    width: 100%;
    max-width: 420px;
    height: 40px;
  }
} 

/************************************************
    DESKTOP SECTIONS
 ************************************************/
@media screen and (min-width: 1200px){
  body{
    background-color: rgb(47, 31, 194)      /* DEBUG */
  }

  /* HEADER */
  .top-bar .container .menu {
    display: none;
  }

  .top-bar .container .menu-list {
    display: block;
  }
  
  /* DEMO */
  .demo {
    height: 869px;
  }
  
  .demo .container {
    padding-bottom: 104px;
  }
  
  .demo .row {
    height: 715px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .demo .row .big-col {
    width: 65.6%;
    height: 47.5%;
    margin-bottom: 0;
  }

  .demo .row .big-col p {
    width: 50%;
  }

  .demo .row .big-col .box-image {
    right: 100px;
  }
  
  .demo .row .col {
    width: 31.3%;
    height: 47.5%;
    margin-bottom: 0;
  }

  .demo .row .col:nth-child(2) {
    height: 47.5%;
  }

  /* PLANNING */
  .planning {
    
  }
  
  .planning .container {
    padding: 130px 130px 64px;
    
  }
  
  .planning .row {
    /* height: 1896px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .planning .row .col-no-frame {
    width: 47.5%;
    height: 734px;
    margin-bottom: 0;
  }
  
  .planning .row .col {
    width: 47.5%;
    height: 555px;
  }

  .planning .row .col .box-image img {
    width: 70%;
  }

  /* TESTIMONIALS */
  .testimonials {
  }

  .testimonials .container {
    /* padding-top: 0; */
    height: 1337px;
  }

  .testimonials .row {

  }

  .testimonials .row .col-no-frame {
    height: 220px;
  }

  .testimonials .row .col {
    height: 280px;
  }

  /* BENEFITS */
  .benefits {

  }

  .benefits .container {
    height: 1120px;
    padding: 185px 0 64px;
  }

  .benefits .row {
    height: 866px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .benefits .row .col {
    width: 31.6%;
    height: 48.3%;
    margin-bottom: 0;
  }

  /* ABOUT-US */
  .about-us {

  }
  
  .about-us .container {
    height: 810px;
    padding-bottom: 150px;
  }
  
  .about-us .row {
    height: 566px;
  }
  
  .about-us .row .big-col {
    width: 59.7%;
    height: 566px;
    margin-bottom: 0;
  }
  
  .about-us .row .col {
    width: 40.3%;
    height: 566px;
  }

  /* GET-STARTED SECTION */
  .get-started {

  }

  .get-started .container {
    
  }
  
  .get-started .row {
    
  }
  
  .get-started .row .col {
    max-width: 580px;
  }

  /* FOOTER */
  footer {

  }

  footer .container {

  }
  footer .container .row {
  
  }
  
  footer .container .row .top {

  }
  
  footer .container .row .bottom {

  }
}