/*************************************************
    GENERAL STYLES
 *************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  /* background-color: brown; */
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
  /* width: 100%; */                        /* 312px; */
  max-width: 1140px;
  margin: 0 auto;                           /* 0 20px; */
  padding: 0 20px;
}

.row {
  /* display: flex; */
  /* background-color: brown; */                /* DEBUG */
}

.col {
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

/* TEXT */
.text-center {
  text-align: center;
}

/* DEBUG */
.debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
}

.debug div,
.debug nav{
  border: 1px solid black;
}

/************************************************
    MOBILE SECTIONS
 ************************************************/

/* HEADER */
header {
  padding-top: 76px;
}

header .top-bar {
  height: 76px;
  background-color: #0084fd;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
}

header .container {
  padding: 0 32px;
  width: 100%;
  /* background-color: red; */
}

/* DEMO SECTION */
.demo {

}

.demo .container {
  padding: 50px 32px 80px;
  background-color: white;
}

.demo .row {
  /* padding: 12px; */
}

.demo .row .big-col {
  height: 606px;
  border-radius: 20px;
  margin-bottom: 24px;
  background-color: #b5ddff;
}

.demo .row .col {
  height: 359px;
  border-radius: 20px;
  margin-bottom: 24px;
  background-color: #b5ddff;
}

.demo .row .col:last-child {
  margin-bottom: 0;
}

/* PLANNING SECTION */
.planning {

}

.planning .container {
  padding: 68px 32px 64px;
  background-color: #9792e4;
}

.planning .row {
  
}

.planning .row .col-no-frame {
  height: 620px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 35px;
}

.planning .row .col {
  height: 614px;
  border-radius: 50px;
  background-color: white;
}

/* TESTIMONIAL SECTION */
.testimonials {
  
}

.testimonials .container {
  padding: 68px 32px 112px;
  background-color: white;
}

.testimonials .row {
  
}

.testimonials .row .col-no-frame {
  height: 389px;
  background-color: rgb(151, 146, 228, 0.2);
  margin-bottom: 32px;
}

.testimonials .row .col {
  height: 500px;
  border-radius: 50px;
  margin-bottom: 32px;
  background-color: #9792e4;
}

.testimonials .row .col:last-child {
  margin-bottom: 0;
}

/* BENEFITS SECTION */
.benefits {
  
}

.benefits .container{
  padding: 222px 32px 64px;
  background-color: #9792e4;
}

.benefits .row{

}

.benefits .row .col{
  height: 398px;
  border-radius: 50px;
  margin-bottom: 32px;
  background-color: white;
}

.benefits .row .col:last-child {
  margin-bottom: 0;
}

/* ABOUT-US SECTION */
.about-us {

}

.about-us .container {
  padding: 94px 32px 80px;
  background-color: white;
}

.about-us .row {

}

.about-us .row .big-col {
  height: 950px;
  margin-bottom: 57px;
  background-color: rgb(151, 146, 228, 0.2);
}

.about-us .row .col {
  height: 415px;
  background-color: rgb(151, 146, 228, 0.2);
}

/* GET-STARTED SECTION */
.get-started {

}

.get-started .container {
  padding: 68px 32px 64px;
  background-color: #9792e4;
}

.get-started .row {

}

.get-started .row .col {
  height: 484px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* FOOTER */
footer {

}

footer .container {
  padding: 44px 32px 40px;
  background-color: #333333;
}
footer .container .row {

}

footer .container .row .top {
  height: 50px;
  margin-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.2);
}

footer .container .row .bottom {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

/* MOBILE FIRST */
/* Con Mobile first il default è pensato al mobile  */
body{
  background-color: rgb(147, 6, 6)          /* DEBUG */    
}

/************************************************
    TABLET SECTIONS
 ************************************************/
@media screen and (min-width: 768px){
  body{
    background-color: rgb(27, 147, 57)      /* DEBUG */
  }
  
  /* DEMO */
  .demo {
    height: 1180px;
  }

  .demo .container {
    padding-bottom: 104px;
  }
  
  .demo .row {
    height: 1026px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .demo .row .big-col {
    width: 65.6%;
    height: 55%;
    margin-bottom: 0;
  }
  
  .demo .row .col {
    width: 31.3%;
    height: 42.6%;
    margin-bottom: 0;
  }

  .demo .row .col:nth-child(2) {
    height: 55%;
  }

  /* PLANNING */
  .planning {

  }
  
  .planning .container {
    padding-top: 140px;
  }
  
  .planning .row {
    /* height: 1896px; */
  }
  
  .planning .row .col-no-frame {
    height: 987px;
  }
  
  .planning .row .col {
    height: 874px;
  }

  /* TESTIMONIALS */
  .testimonials {

  }

  .testimonials .container {
    height: 1332px;

  }

  .testimonials .row {

  }

  .testimonials .row .col-no-frame {
    height: 220px;
  }

  .testimonials .row .col {
    height: 280px;
  }
} 

/************************************************
    DESKTOP SECTIONS
 ************************************************/
@media screen and (min-width: 1200px){
  body{
    background-color: rgb(47, 31, 194)      /* DEBUG */
  }
}